<footer class="bg-primary py-4 mt-5">

    <div class="container-fluid text-white d-flex justify-content-center align-items-end">
        <div class="row justify-content-center">
            <div class="col-5 col-lg-5 text-left">
                <h5 class="text-uppercase fw-bold text-info">
                    Sobre
                </h5>
                <p>
                   PROJETO DJANGO SOBRE
                </p>
            </div>

            <div class="col-5 col-lg-5">
                <h5 class="text-uppercase fw-bold text-info">
                    Outras
                </h5>
                <p>
                    PROJETO DJANGO2
                </p>
            </div>
        </div>
    </div>
</footer>